<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand rale" href="/">Book Sum Time</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="rale"><a href="/">Home</a></li>
                <li><a href="/books" class="rale">Books</a></li>
                <li><a href="/about" class="rale">About</a></li>
            </ul>
        </div>
    </nav>

    <img src="/images/about.jpg" alt="Journey" id="aboutimg" class="img-responsive center-block">

        <div class="wrap ">
            <p class="welcome">Some books take you on</p>
            <b class="welcome-b">
              <span1 class="welcome-span">
                a journey<br />
                an adventure<br />
                a space voyage<br />
               </span1>
            </b>
        </div>



    <h4 class="welcome-message text-center">We hope this compilation of wonderful books will be useful to you.
    These are books that we believe every one should read. Audiobooks,
    kindle books or paper-backs, don't forget to read.</h4>

  <%- include('../partials/scripts') %>
</body>
</html>
