<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand rale" href="/">Book Sum Time</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="rale"><a href="/">Home</a></li>
                <li><a href="/books" class="rale">Books</a></li>
                <li><a href="/about" class="rale">About</a></li>
            </ul>
        </div>
    </nav>



          <h1 class="titles">Books That Change Your Body</h1>

        <img src="/images/body.jpg" alt="Fine books" id="books" class="img-responsive center-block" >

        <h4 class="subtitles">The Body Book</h4>
        <p >The Body Book: Feed, Move, Understand and Love Your Amazing Body is a 2013 health book co-written by Sandra Bark and actress Cameron Diaz. It was a New York Times Bestseller.</p>
        <h4 class="subtitles">The Art of Fermentation</h4>
        <p>Winner of the 2013 James Beard Foundation Book Award for Reference and Scholarship, and a New York Times bestseller, The Art of Fermentation is the most comprehensive guide to do-it-yourself home fermentation ever published.</p>
        <h4 class="subtitles">Skinny Gut Diet</h4>
        <p>The secret to permanent weight loss revealed. The real reason diets fail has nothing to do with calories and everything to do with the balance of bacteria in your gut. A simple guide to show you how to finally achieve your ideal weight.</p>

 </div>
  <%- include('../partials/scripts') %>
</body>
</html>
