<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand rale" href="/">Book Sum Time</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="rale"><a href="/">Home</a></li>
                <li><a href="/books" class="rale">Books</a></li>
                <li><a href="/about" class="rale">About</a></li>
            </ul>
        </div>
    </nav>
       <img src="/images/booksp.jpg" alt="Fine books" id="books" class="img-responsive center-block" >

        <div class="welcome-message text-center">

                <h3><a href="/mind" class="rale">Books that change your Mind</a></h3>
                <h3><a href="/heart" class="rale">Books That Change Your Heart</a></h3>
                <h3><a href="/body" class="rale">Books That Change Your Body</a></h3>
        </div>


  <%- include('../partials/scripts') %>
</body>
</html>
