<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Book Sum Time</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
  </nav>


           <h1 class="titles">Books That Change Your Heart</h1>


        <img src="/images/heart.jpg" alt="Fine books" id="books" class="img-responsive center-block">

        <h4 class="subtitles">The Alchemist</h4>
        <p >The Alchemist is a novel by Brazilian author Paulo Coelho which was first published in 1988. Originally written in Portuguese, it has been translated into at least 67 languages as of October 2009.</p>
        <h4 class="subtitles">Catching The Big Fish</h4>
        <p>Catching the Big Fish: Meditation, Consciousness, and Creativity, a book by film director David Lynch, is an autobiography and self-help guide comprising 84 vignette-like chapters.</p>
        <h4 class="subtitles">The (Honest) Truth About Dishonesty</h4>
        <p>The Honest Truth About Dishonesty: How We Lie to Everyone---Especially Ourselves is a 2012 book by the Duke University cognitive science professor Dan Ariely</p>


  <%- include('../partials/scripts') %>
</body>
</html>
