<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand rale" href="/">Book Sum Time</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="rale"><a href="/">Home</a></li>
                <li><a href="/books" class="rale">Books</a></li>
                <li><a href="/about" class="rale">About</a></li>
            </ul>
        </div>
    </nav>



          <h1 class="titles">Books That Change Your Mind</h1>

        <img src="/images/mind.jpg" alt="Fine books" id="books" class="img-responsive center-block">


        <h4 class="subtitles">Guns Germs and Steel</h4>
        <p >Guns, Germs, and Steel: The Fates of Human Societies is a 1997 transdisciplinary non-fiction book by Jared Diamond, professor of geography and physiology at the University of California, Los Angeles. </p>
        <h4 class="subtitles">The China Study</h4>
        <p>The China Study is a book by T. Colin Campbell, Jacob Gould Schurman Professor Emeritus of Nutritional Biochemistry at Cornell University, and his son Thomas M. Campbell II, a physician.</p>
        <h4 class="subtitles">Wild Company</h4>
        <p>With $1,500 and no business experience, Mel and Patricia Ziegler turned a wild idea into a company that would become the international retail colossus Banana Republic. Re-imagining military surplus as safari and expedition wear, the former journalist and artist created a world that captured the zeitgeist for a generation and spoke to the creativity, adventure, and independence in everyone.</p>


  <%- include('../partials/scripts') %>
</body>
</html>

