<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand rale" href="/">Book Sum Time</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="rale"><a href="/">Home</a></li>
                <li><a href="/books" class="rale">Books</a></li>
                <li><a href="/about" class="rale">About</a></li>
            </ul>
        </div>
    </nav>

    <img src="/images/bookFP.jpg" alt="Reading" id="book1" class="img-responsive center-block" >

        <div class="wrap">
            <p class="welcome">Welcome all</p>
            <b class="welcome-b">
              <span1 class="welcome-span">
                avid readers<br />
                life-long learners<br />
                lovers of fiction<br />
                writers in training<br />
                my favorite people
               </span1>
            </b>
        </div>
        <p class="welcome-message text-center">Welcome to our small corner of the internet.
        These site is home anyone who enjoys beautiful, knowledgable
        or just cheerful books. We have compiled some our favorite books.
        Hope you enjoy them.</p>
        <h3><a href="/books" class="bookslink">Check out the books!</a></h3>



  <%- include('../partials/scripts') %>
</body>
</html>
